In [7]:
import pandas as pd

In [ ]:
#pandas is basically a table manipulator which has 2 main objects
1. pd.Series --> column
2. pd.DataFrame --> table

In [24]:
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "David"],
    "age": [25, 30, 22, 28, 26]
}
# making a table out of a data dictionary 
df= pd.DataFrame(data)
print(df)

# printing columns
df['name']
df['age']

      name  age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28
4    David   26

0    25
1    30
2    22
3    28
4    26
Name: age, dtype: int64

In [21]:
#if i want to get people above age 30 then 
filter_age=df['age']>=30
filter_age

0    False
1     True
2    False
3    False
4    False
Name: age, dtype: bool

In [22]:
df[filter_age]

  name  age
1  Bob   30

In [27]:
# if i want to see average weight of unique names 
df.groupby('name'). agg(
           {
               "age":"mean"

            }
            )

          age
name
Alice    25.0
Bob      30.0
Charlie  22.0
David    27.0

In [31]:
# if i want to look at the oldest table then I want to look at the max 
df.groupby('name'). agg (

    {
        "age": "max"
    }
)

         age
name
Alice     25
Bob       30
Charlie   22
David     28

In [35]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [36]:
DataFrame and Series in Pandas
Each column in a DataFrame is a Pandas Series, and together, they create a powerful and flexible structure for handling data.
    Accessing Data:
    
# Accessing a specific column
names = df['Name']
 
# Slicing rows
subset = df[1:3]
    
  
Manipulating Data:
    
# Adding a new column
df['Salary'] = [50000, 60000, 55000]
 
# Filtering rows
youngsters = df[df['Age'] < 25]
    
  
Pandas Series:
A Series is essentially a one-dimensional array with labeled indices. It's the backbone of a DataFrame, and understanding it is crucial for effective data manipulation.

Creating a Series:
    
# Creating a Series from a list
ages = pd.Series([25, 28, 22], name='Age')
    
  
Accessing and Manipulating:
    
# Accessing elements by index
first_age = ages[0]
 
# Applying a function to each element
ages_in_months = ages.apply(lambda x: x * 12)
    
  
Key Features of Pandas DataFrame and Series:
Data Alignment: One of the key advantages of Pandas is its automatic data alignment. Operations between Series and DataFrames align data based on labels, making it easy to work with incomplete or differently indexed data.

Missing Data Handling: Pandas provides robust tools for handling missing data, making it easier to clean and preprocess datasets.

GroupBy Operations: GroupBy operations in Pandas enable users to split data into groups based on some criteria and then apply a function to each group independently.

Merge and Concatenate: Pandas simplifies data integration by providing functions like merge and concat to combine DataFrames along either rows or columns.

Pandas DataFrame and Series are indispensable tools for any data engineer or analyst working with Python. Their flexibility, efficiency, and comprehensive functionality make them go-to choices for data manipulation and analysis. Whether you are cleaning messy data, performing complex transformations, or conducting exploratory data analysis, Pandas empowers you to accomplish these tasks with ease.

NameError: name 'DataFrame' is not defined

Filtering in Pandas
Advanced Filtering Techniques:
Pandas offers a variety of techniques for advanced filtering:

Logical Operators: Combine multiple conditions using logical operators like AND (&), OR (|), and NOT (~).

isin() Method: Filter based on a list of values using the `isin()` method.

String Methods: Apply string methods to filter text data efficiently.

Example: Using Logical Operators
    
# Filtering based on multiple conditions
young_high_earners = df[(df['Age'] < 30) & (df['Salary'] > 55000)]
    
  
Example: Using isin() Method
    
# Filtering based on a list of names
selected_names = df[df['Name'].isin(['Alice', 'Charlie'])]
    
  
Example: Using String Methods
    
# Filtering names starting with 'A'
a_names = df[df['Name'].str.startswith('A')]
    
  
Filtering Null (NaN) Values:
Handling missing data is a crucial aspect of data analysis. Pandas provides methods to filter and handle null values effectively:

isnull() and notnull() Methods: Identify and filter null or non-null values.

dropna() Method: Remove rows or columns containing null values.

fillna() Method: Replace null values with a specified value or strategy.

Example: Filtering Null Values
    
# Filtering rows with null values in the 'Salary' column
non_null_salaries = df[df['Salary'].notnull()]
    
  
Filtering in Pandas is a crucial skill for anyone working with data analysis or data engineering. Whether you're extracting specific subsets of data based on conditions, handling missing values, or applying advanced filtering techniques, Pandas provides a comprehensive set of tools to make the process efficient and effective. By mastering the art of filtering, you can unlock valuable insights within your datasets, enabling informed decision-making and analysis.

In [2]:
Moving Averages in Pandas
What is a Moving Average?
A moving average calculates the average of data over a specified number of periods. It helps smooth out fluctuations and highlights underlying trends. There are several methods to calculate moving averages:

Simple Moving Average (SMA): The unweighted mean of the previous K data points.

Exponential Moving Average (EMA): Gives more weight to recent observations, capturing trends more quickly.

Cumulative Moving Average (CMA): The cumulative value of an aggregation function (e.g., mean) over time.

Calculating Moving Averages using Pandas and yfinance
We'll focus on the SMA and EMA methods using the yfinance library to fetch stock data. Let's dive into the code:

import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
 
# Define the stock symbol and fetch historical data
stock_symbol = 'AAPL'  # Example: Apple Inc.
data = yf.download(stock_symbol, start='2020-01-01', end='2021-12-31')
 
# Calculate 50-day Simple Moving Average (SMA)
data['SMA_50'] = data['Close'].rolling(window=50).mean()
 
# Calculate 20-day Exponential Moving Average (EMA)
data['EMA_20'] = data['Close'].ewm(span=20, adjust=False).mean()
 
# Plot the results
plt.figure(figsize=(10, 6))
plt.plot(data.index, data['Close'], label='Closing Price')
plt.plot(data.index, data['SMA_50'], label='50-Day SMA', color='orange')
plt.plot(data.index, data['EMA_20'], label='20-Day EMA', color='green')
plt.xlabel('Date')
plt.ylabel('Price')
plt.title(f'{stock_symbol} Stock Price with Moving Averages')
plt.legend()
plt.show()
In this example:

Replace 'AAPL' with the stock symbol of your choice.

Adjust the window size (e.g., 50 days for SMA) and span (e.g., 20 days for EMA) as needed.

Remember to install yfinance (pip install yfinance) before running the code.

Feel free to adapt this code to your specific use case and explore other moving average methods. Happy coding! ðŸš€



How to calculate MOVING AVERAGE in a Pandas DataFrame?. https://www.geeksforgeeks.org/how-to-calculate-moving-average-in-a-pandas-dataframe/.

How to Calculate an Exponential Moving Average in Pandas - Statology. https://www.statology.org/exponential-moving-average-pandas/.

Pandas & Numpy Moving Average & Exponential Moving Average Tutorial .... https://www.datacamp.com/tutorial/moving-averages-in-pandas.

python - Pandas Moving Average - Stack Overflow. https://stackoverflow.com/questions/61164452/pandas-moving-average.

Pandas: How to Calculate a Moving Average by Group. https://www.statology.org/pandas-moving-average-by-group/.

How to Calculate a Moving Average using Pandas for Python. https://medium.com/analytics-vidhya/how-to-calculate-a-moving-average-using-pandas-for-python-d19415bebc7d.

python - Moving Average Pandas - Stack Overflow. https://stackoverflow.com/questions/40060842/moving-average-pandas.

Moving average strategy using Python and yfinance api. https://wire.insiderfinance.io/earn-22-more-return-by-using-a-simple-20-50-moving-average-strategy-60b4bef7c64c.

Python for Finance, Part 3: Moving Average Trading Strategy. https://www.learndatasci.com/tutorials/python-finance-part-3-moving-average-trading-strategy/.

How can I a weighted moving average using yfinance and pandas. https://stackoverflow.com/questions/68691399/how-can-i-a-weighted-moving-average-using-yfinance-and-pandas.

SyntaxError: invalid character 'ðŸš€' (U+1F680) (1710517261.py, line 46)